.contact-page {
    input {
        width: 100%;
    }

    h1 {
        font-size: 1rem;
    }

    .add-btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        line-height: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 3rem;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    .contact-peak {
        position: fixed;
        right: 50%;
        transform: translateX(50%);
        background-image: linear-gradient(to right, rgb(102, 127, 160), rgb(228, 226, 226));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 0.8;
        margin: auto;
        border-radius: 10px;
    }
}
// @keyframes
@media (min-width: 600px) {
    .contact-page {
        input {
            width: 300px;
        }
    }
}