.deposite-container {
    position: absolute;
    background-image: linear-gradient(to left, rgb(91, 121, 160), rgb(202, 199, 199));
    padding: 50px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    transition: all 1s ease-in-out;

    .close-btn {
        position: absolute;
        right: 50px;
        padding: 8px;
    }

    button {
        &:hover {color: rgb(53, 52, 52);}
    }
}

.close-container {
    transform: translateY(-200%);
    opacity: 0.8;
}

.open-container {
    transform: translateY(100%);
    opacity: 0.95;
}